Flask==3.0.3
flask[async]
flask-cors
python-bidi
easyocr
cloudinary
speech-recognition
googletrans
pydub
pymongo
pydantic[email]
flask-bcrypt 
Flask-JWT-Extended
flask-socketio
eventlet
python-dotenv
transformers
faster-whisper 
ffmpeg-python
# torch also, check website for instructions